<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <h1>成功</h1>
    <!--th:text 将div里面的文本内容设置为-->
    <div th:text="${hello}">0000000</div>
    <hr>
    <div th:utext="${hello}"></div>
    <hr>
    <!--th:each每次遍历都会生成当前这个标签：3个h4-->
    <h4 th:text="${user}" th:each="user:${users}"></h4>
    </body>
    <hr>
    <h4>
    <span th:each="user:${users}">[[${user}]]</span>
    </h4>

    <hr>
<div th:object="${student}">
    <p>one:<span th:text="*{name}"></span></p>
    <p>two:<span th:text="*{age}"></span></p>
    <p>three:<span th:text="*{sex}"></span></p>
</div>
<div><a href="#" th:href="@{http://localhost:8080/success}">超链接</a></div>-->
    <div th:text="${a1}+${a2}==${a1+a2}"></div>
    <div th:text="${a1}<${a2}"></div>
    <div th:text="${a1}!=${a2}"></div>
<!--    </body>-->
</html>